@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --yk-white: 255 255 255;
    --yk-on-color: 255 255 255;
    --yk-black-1: 31 41 56;
    --yk-black-2: 57 76 102;
    --yk-black-3: 22 29 39;
    --yk-overlay: 57 76 102;
    --yk-border: 229 235 245;

    --yk-ink-1: 31 41 56;
    --yk-ink-2: 57 76 102;
    --yk-ink-3: 22 29 39;

    --yk-grey-1: 154 161 180;
    --yk-grey-2: 208 211 220;
    --yk-grey-3: 244 245 246;
    --yk-grey-4: 249 250 250;
    --yk-grey-5: 208 216 227;
    --yk-grey-6: 123 132 157;
    --yk-grey-7: 150 157 177;
    --yk-grey-8: 14 14 14;
    --yk-grey-9: 238 238 238;

    --yk-lightblue-1: 178 204 255;
    --yk-lightblue-2: 193 213 245;
    --yk-lightblue-3: 218 227 241;
    --yk-lightblue-4: 225 238 251;
    --yk-lightblue-5: 235 240 254;
    --yk-lightblue-6: 248 250 253;
    --yk-lightblue-7: 235 239 245;
    --yk-lightblue-8: 152 174 246;
    --yk-lightblue-9: 239 244 250;

    --yk-blue: 54 99 242;
    --yk-blue-2: 84 106 123;
    --yk-hover-blue: 14 61 211;
    --yk-indigo: 100 103 242;
    --yk-red: 235 99 99;
    --yk-red-2: 255 101 66;
    --yk-red-3: 233 63 63;
    --yk-green: 73 171 94;
    --yk-green-2: 110 211 126;
    --yk-emerald: 110 211 126;
    --yk-yellow: 241 174 4;
    --yk-orange: 249 115 22;
    --yk-teal: 45 212 191;
    --yk-keppel: 68 187 164;
    --yk-violet: 139 92 246;
    --yk-fuchsia: 217 70 239;
    --yk-pink: 236 72 153;
    --yk-ocean: 14 165 233;
    --yk-brown: 185 148 136;
    --yk-darkbrown: 64 44 38;
    --yk-bud: 177 207 95;
  }

  .dark {
    color-scheme: dark;

    --yk-white: 24 24 27;
    --yk-grey-3: 39 39 42;
    --yk-grey-4: 32 32 36;
    --yk-grey-9: 46 46 51;
    --yk-lightblue-6: 20 20 22;
    --yk-lightblue-9: 32 32 36;
    --yk-lightblue-5: 42 42 47;
    --yk-lightblue-7: 46 46 51;
    --yk-lightblue-4: 44 44 49;
    --yk-lightblue-3: 58 58 64;
    --yk-lightblue-2: 72 72 79;
    --yk-lightblue-1: 96 96 105;
    --yk-lightblue-8: 138 138 148;

    --yk-border: 48 48 53;
    --yk-grey-5: 61 61 67;
    --yk-grey-2: 61 61 67;

    --yk-black-3: 240 240 240;
    --yk-black-1: 240 240 240;
    --yk-black-2: 240 240 240;
    --yk-on-color: 240 240 240;
    --yk-grey-6: 155 155 162;
    --yk-grey-7: 157 157 164;
    --yk-grey-1: 130 130 138;
    --yk-blue-2: 150 150 158;

    --yk-blue: 92 131 255;
    --yk-hover-blue: 126 157 255;
    --yk-indigo: 130 133 255;
    --yk-red: 240 124 124;
    --yk-red-2: 255 132 101;
    --yk-red-3: 242 98 98;
    --yk-green: 95 194 118;
    --yk-green-2: 127 221 142;
    --yk-emerald: 127 221 142;
    --yk-yellow: 247 190 43;
    --yk-orange: 251 139 60;
    --yk-teal: 78 221 203;
    --yk-keppel: 95 205 183;
    --yk-violet: 164 128 248;
    --yk-fuchsia: 225 105 243;
    --yk-pink: 241 107 172;
    --yk-ocean: 56 182 238;
    --yk-brown: 199 167 156;
    --yk-darkbrown: 201 169 158;
    --yk-bud: 191 216 121;

    --yk-overlay: 6 6 7;
    --yk-grey-8: 255 255 255;

    --yk-ink-1: 46 46 51;
    --yk-ink-2: 61 61 67;
    --yk-ink-3: 36 36 40;
  }

  html {
    -webkit-tap-highlight-color: transparent;
  }

  html,
  body {
    background-color: rgb(var(--yk-white));
  }

  ::-webkit-scrollbar {
    width: .25em;
    height: .25em;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    border: .25em solid #9aa1b4;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    border: .25em solid #727886;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .heading-1 {
    @apply font-extrabold text-3.25xl
  }

  .heading-2 {
    @apply font-normal text-3.25xl
  }

  .heading-3 {
    @apply font-extrabold text-2xl
  }

  .heading-4 {
    @apply font-extrabold text-xl
  }

  .heading-5 {
    @apply text-xl leading-10
  }

  .subtitle-1 {
    @apply font-extrabold text-base
  }

  .subtitle-2 {
    @apply font-semibold text-base
  }

  .subtitle-3 {
    @apply font-extrabold text-sm
  }

  .subtitle-4 {
    @apply font-semibold text-sm
  }

  .subtitle-5 {
    @apply font-semibold text-xs
  }

  .body-1 {
    @apply font-normal text-sm
  }

  .body-2 {
    @apply font-normal text-base
  }

  .caption {
    @apply font-normal text-xs
  }

  .overline-1 {
    @apply font-extrabold text-xs
  }

  .overline-2 {
    @apply font-extrabold text-2xs
  }

}

/* This utility class handles the bottom bar on newer iPhones without the “Home” button. 
Without it, some elements can fall under the bar, making them unreadable and tough to tap. */
@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
}